@function col-width($number, $span: 1) {
  $base-width: ($grid-width + $gutter-horizontal) / $number;
  @return $base-width * $span - $gutter-horizontal;
}

@for $i from 1 through 12 {
  .row-#{$i} {
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: $gutter-vertical;

      @include respond(tab-port) {
        margin-bottom: $gutter-vertical-small;
      }
    }

    @include respond(tab-port) {
      max-width: 50rem;
    }

    @include clearfix;

    .col {
      // width: col-width($i);
      width: calc(
        (100% + #{$gutter-horizontal}) / #{$i} - #{$gutter-horizontal}
      );

      @include respond(tab-port) {
        width: 100% !important;
      }
    }

    @for $j from 1 through 12 {
      .col.span-#{$j} {
        width: calc(
          (100% + #{$gutter-horizontal}) * #{$j / $i} - #{$gutter-horizontal}
        );
      }
    }
  }
}

.col {
  float: left;

  &:not(:last-child) {
    margin-right: $gutter-horizontal;
  }
}
