@function col-width($number, $span: 1) {
  $base-width: ($grid-width + $gutter-horizontal) / $number;
  @return $base-width * $span - $gutter-horizontal;
}

@for $i from 1 through 12 {
  .row-#{$i} {
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: $gutter-vertical;
    }

    @include clearfix;

    .col {
      // width: col-width($i);
      width: calc(
        (100% + #{$gutter-horizontal}) / #{$i} - #{$gutter-horizontal}
      );
    }

    @for $j from 1 through 12 {
      .col.span-#{$j} {
        width: calc(
          (100% + #{$gutter-horizontal}) * #{$j / $i} - #{$gutter-horizontal}
        );
      }
    }
  }
}

.col {
  float: left;

  &:not(:last-child) {
    margin-right: $gutter-horizontal;
  }
}

@mixin row-test {
  background-color: #eee;
}

@mixin col-test {
  background-color: desaturate(#ff0000, 40%);
  font-size: 1.2rem;
  padding: 20px;
  color: white;
}
